.logo {
  --local-margin: 0 0 var(--text-mb) 0;
  --local-grid-column: 2/4;
  --local-gap: 0.5rem;

  display: flex;

  @media (--ipad) {
    grid-column: var(--local-grid-column);
  }

  @media (--desktop) {
    --local-grid-column: 1/5;
  }

  & h1 {
    align-items: center;
    color: var(--local-colour);
    display: flex;
    font-size: clamp(1.5rem, 3.5vw, 3rem);
    font-weight: 200;
    gap: var(--local-gap);
    justify-content: space-between;
    margin: var(--local-margin);
    padding: 0;

    @media (--ipad) {
      --local-margin: 0;
    }

    @media (--laptop) {
      --local-gap: 1rem;
    }
  }
}
