.logo {
  --local-margin: 0 0 1.2rem 0;

  display: flex;

  & h1 {
    align-items: center;
    color: var(--local-colour);
    display: flex;
    font-size: clamp(1.5rem, 3.5vw, 3rem);
    font-weight: 200;
    gap: 1rem;
    justify-content: space-between;
    margin: var(--local-margin);
    padding: 0;

    @media (--ipad) {
      --local-margin: 0;

      line-height: 1.2em;
    }
  }
}
