.button {
  --iconColour: var(--white);

  align-items: center;
  background-color: var(--hwb-grape-4);
  border-radius: var(--radius);
  color: var(--iconColour);
  cursor: pointer;
  display: flex;
  gap: calc(var(--paddingBtn) / 2);
  padding: calc(var(--paddingBtn) / 2) var(--paddingBtn);
  transition: background-color var(--timing) ease;
  justify-content: space-between;
  
  &:hover {
    background-color: var(--accent);
    color: var(--white);
  }
  
  & span {
    color: var(--white);
    font-size: var(--size-s-1);

    @container (min-width: 600px) {
      font-size: var(--size-l-1);
    }
  }

  & svg {
    transition: fill var(--timing) ease;
  }
}
