.trigger {
  --icon-colour: var(--white);
  --local-display: flex;
  --local-position: static;

  align-items: center;
  background-color: var(--white);
  border: none;
  border-radius: 0 0 var(--radius) 0;
  cursor: pointer;
  display: var(--local-display);
  font-size: var(--font-size-xl);
  gap: calc(var(--padding-btn) / 2);
  padding: calc(var(--padding-btn) / 2);
  transition: background-color var(--timing) ease;
  position: var(--local-position);

  @media (--ipad) {
    --local-display: none;
  }

  & span {
    color: var(--hwb-grape-4);
    transition: color var(--timing) ease;
  }

  & svg {
    transition: fill var(--timing) ease;
  }
}
