.drawer {
  --local-bg-colour: var(--hwb-grey-1);
  --local-radius: var(--radius-lg) 0 0 var(--radius-lg);
  --local-translate: var(--drawer-state);
  --local-width: var(--drawer-width);

  --local-drawer-width: 40vw;
  --local-drawer-open: 0vw;
  --local-drawer-closed: var(--local-drawer-width);
  --local-drawer-state: var(--local-drawer-closed);

  background-color: var(--local-bg-colour);
  border-radius: var(--local-radius);
  min-height: 100vh;
  padding: var(--spacing-lg) 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: translate var(--timing) ease;
  translate: var(--local-drawer-state);
  width: var(--local-drawer-width);
}

.wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  backdrop-filter: blur(5px);
  background-color: hwb(0deg 0% 100% / 70%);
}