@custom-media --ipad (width > 600px);
@custom-media --desktop (width > 1200px);

.footer {
  --local-bg: var(--pink-1000);
  --local-radius: var(--radius-lg);
  --local-border-radius: var(--local-radius) var(--local-radius) 0 0;
  --local-scroll-snap-align: initial;
  --local-top-margin: 0;

  grid-area: foot;
  background: var(--local-bg);
  padding: calc(var(--spacing-lg) * 3) 0;
  scroll-snap-align: var(--local-scroll-snap-align);
  scroll-snap-stop: always;
  margin-top: var(--local-top-margin);

  @media (--ipad) {
    border-radius: var(--local-border-radius);
    width: calc(100vw - var(--scrollbar-width));
  }

  @media (--desktop) {
    --local-radius: var(--radius-xl);
  }
}

.copyright {
  margin: var(--spacing) 0 0 0;
  grid-column: span 12;
  color: var(--white);
  font-size: var(--font-size-sm);
  text-align: center;
}
