.nav {
  --local-grid-column: 4 / 13;

  display: flex;
  flex-direction: column;
  font-size: var(--font-size-sm);
  gap: calc(var(--padding) / 2);

  @media (width > 600px) {
    justify-self: initial;
    align-self: center;
    flex-direction: row;
    grid-column: var(--local-grid-column);
  }

  @media (width > 800px) {
    --local-grid-column: 7 / 13;
  }

  & button {
    flex: auto;
    background-color: var(--white);
    border-color: var(--hwb-grape-5);
    border: 1px solid;
    color: var(--hwb-grape-5);
    align-items: center;

    & svg {
      scale: 1.2;
    }

    & span {
      color: var(--hwb-grape-5);
    }

    &:hover {
      border-color: var(--hwb-grape-5);
    }
  }

  & a {
    background-color: var(--white);
    border-radius: var(--radius);
    border: 1px solid;
    border-color: inherit;
    color: inherit;
    display: inline-flex;
    gap: calc(var(--padding-btn) / 2);
    justify-content: space-between;
    padding: calc(var(--padding-btn) / 2) var(--padding-btn);
    transition: background-color var(--timing) ease;
    flex: auto;
    align-items: center;

    & svg {
      scale: 1.2;
    }

    &:hover {
      background-color: var(--accent);
    }
  }
}
