.gridauto {
  display: grid;
  grid-gap: var(--spacing-lg);
  margin: 0 var(--spacing-lg);

  @media (width > 400px) {
    grid-auto-flow: row;
    grid-template-rows: repeat(6, auto);
    grid-auto-columns: auto;
  }

  @media (width > 600px) {
    grid-auto-flow: row;
    grid-template-rows: repeat(3, auto);
    grid-auto-columns: 6fr 6fr;
  }
}
