.cart {
  background-color: var(--white);
  grid-column: span 12;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  margin-bottom: 0.5rem;

  @media (width > 600px) {
    border-radius: var(--radius);
  }

  & img {
    grid-column: span 3;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content {
    padding: calc(var(--padding) / 2) var(--padding) calc(var(--padding) / 2)
      calc(var(--padding) / 2);
    grid-column: span 9;
    grid-template-columns: repeat(8, 1fr);
    justify-content: space-between;

    & svg {
      color: var(--error);
      cursor: pointer;
      justify-self: end;
    }
  }
}

.intro {
  display: flex;
  gap: 3rem;
}

.title {
  display: flex;
  gap: var(--padding);
  font-size: var(--font-size-sm);
  margin-bottom: calc(var(--text-mb) / 2);

  & span {
    font-weight: 700;
  }
}

.price {
  font-size: var(--font-size-sm);
  margin-bottom: calc(var(--text-mb) / 2);
}

.summary {
  display: flex;
  flex-direction: column;
}
.quantity {
  font-size: var(--font-size-sm);
}

.total {
  font-size: var(--font-size-sm);
  font-weight: bold;
  margin-top: 1rem;
}
