.form {
  @media (--ipad) {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(5, 1fr);
  }

  & > div {
    @media (--ipad) {
      grid-column: 2/5;
    }
  }

  & > button {
    @media (--ipad) {
      grid-column: 4/5;
    }
  }
}
