.trigger {
  --iconColour: var(--white);

  align-items: center;
  border-color: var(--hwb-grape-4);
  background-color: transparent;
  border-radius: var(--radius);
  cursor: pointer;
  display: flex;
  font-size: var(--size-l-1);
  gap: calc(var(--paddingBtn) / 2);
  padding: calc(var(--paddingBtn) / 3);
  transition: background-color var(--timing) ease;
  
  @media (--ipad) {
    display: none;
  }
  
  &:hover {
    background-color: var(--accent);
    color: var(--white);
  }
  
  & span {
    color: var(--hwb-grape-4);
    transition: color var(--timing) ease;
  }

  & svg {
    transition: fill var(--timing) ease;
  }
}
