.header {
  --local-bg: var(--hwb-grape-4);

  background-color: var(--local-bg);
  color: color-contrast(var(--local-bg) vs var(--black), var(--white));
  display: flex;
  flex-direction: column;
  grid-area: head;
  justify-content: flex-start;
  padding: calc(var(--padding) / 2);

  @media (--ipad) {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: hwb(283.1 0% 74.9% / 0.9);
    border-radius: 0 0 var(--radius-lg) var(--radius-lg);
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 999;
  }
}
