.header {
  --local-position: sticky;
  --local-bg-colour: var(--white);

  background-color: var(--local-bg-colour);
  transition: background-color 0.5s ease;
  grid-area: head;
  justify-content: flex-start;
  padding: calc(var(--padding) / 2);

  @media (--ipad) {
    --local-bg-colour: hwb(0 100% 0% / 0.9);

    align-items: center;
    backdrop-filter: blur(3px);
    border-radius: 0 0 var(--radius-xl) var(--radius-xl);
    flex-direction: row;
    position: var(--local-position);
    top: 0;
    z-index: 9999;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(100px, 1000px);
    justify-content: center;
  }

  & .grid {
    @media (--ipad) {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
    }
  }
}
