@custom-media --ipad (width > 600px);
@custom-media --laptop (width > 1000px);
@custom-media --desktop (width > 1200px);

.header {
  --local-position: sticky;
  --local-bg-colour: var(--white);
  --local-radius: var(--radius);
  --local-border-radius: 0 0 var(--local-radius) var(--local-radius);

  background-color: var(--local-bg-colour);
  grid-area: head;

  @media (--ipad) {
    --local-bg-colour: hwb(0 100% 0% / 0.75);

    backdrop-filter: blur(10px);
    border-radius: var(--local-border-radius);
    position: var(--local-position);
    top: 0;
    z-index: 9999;
    width: calc(100vw - var(--scrollbar-width));
  }

  @media (--laptop) {
    --local-radius: var(--radius-lg);
  }

  @media (--desktop) {
    --local-radius: var(--radius-xl);
  }
}
