.mainwrap {
  display: grid;
  grid-template-columns: minmax(100px, 1000px);
  place-content: center;
  grid-area: main;

  & .main {
    background: var(--hwb-grey-1);
    display: grid;
    grid-gap: calc(var(--padding) / 2);
    padding: var(--padding);
  
    @media (--ipad) {
      grid-template-columns: repeat(var(--grid-columns), 1fr);
    }
  }
}
