.intro {
  --local-bg: var(--hwb-grape-5);

  background: var(--local-bg);
  color: color-contrast(var(--local-bg) vs var(--black), var(--white));
  display: flex;
  flex-direction: column;
  padding: var(--padding);
  border-radius: var(--radius-lg);

  @media (--ipad) {
    grid-column: span var(--grid-columns);
  }

  & h2 {
    margin: 0 0 calc(var(--textMB) * 2) 0;

    &::after {
      content: "";
      display: flex;
      height: 1px;
      width: calc(100% - 1rem);
      margin: 0 0.5rem;
      background-color: currentColor;
      opacity: 0.3;
      translate: 0 0.33em;
    }
  }

  & p {
    margin: 0 0 calc(var(--textMB) * 2) 0;
    opacity: var(--textOpacity);
  }
}
