.breadcrumbs {
  font-size: var(--font-size-sm);

  & .iconhome {
    margin: 0 0.3rem 0 0;
  }

  & ol {
    display: flex;
    padding: 0;
    margin: 0;
  }

  & li {
    &::marker {
      content: "/";
      color: var(--hwb-grape-4);
    }

    &:first-child::marker {
      content: "";
    }

    &:last-child {
      font-style: italic;
    }
  }

  & a {
    padding: 0 calc(var(--padding) / 3);
    display: inline-flex;
    color: var(--hwb-grape-4);
    text-transform: capitalize;

    &:hover {
      color: var(--accent);
    }
  }
}
