.colourV1 {
  display: none;
}

@supports font-tech(color-COLRv1) {
  .colourV1 {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin: 0 0 calc(var(--textMB) * 2) 0;
    
    & svg {
      color: var(--success);
      font-size: 1.5rem;
    }

    & span {
      font-weight: 600;
    }
  }
}
