.intro {
  --local-bg: none;
  --local-padding: none;
  --local-colour: inherit;

  background-color: var(--local-bg);
  border-radius: var(--radius-lg);
  color: var(--local-colour);
  display: flex;
  flex-direction: column;
  padding: var(--local-padding);

  @media (width > 500px) {
    grid-column: span 2;
  }

  @media (width > 800px) {
    grid-column: span 2;
  }

  & h2 {
    margin: 0 0 calc(var(--text-mb) * 2.5) 0;
    font-size: var(--font-size-xl);

    &::after {
      background-color: currentColor;
      content: "";
      display: flex;
      height: 1px;
      margin: 0 0.5rem;
      opacity: 0.3;
      translate: 0 0.33em;
      width: calc(100% - 1rem);
    }
  }

  & p {
    color: var(--hwb-grey-5);
    margin: 0 0 calc(var(--text-mb) * 2) 0;
    opacity: var(--text-opacity);
  }
}
