.intro {
  --local-bg: var(--hwb-grape-5);

  background: var(--local-bg);
  border-radius: var(--radius-lg);
  color: var(--white);
  display: flex;
  flex-direction: column;
  padding: var(--padding);

  @media (--ipad) {
    grid-column: span var(--grid-columns);
  }

  & h2 {
    margin: 0 0 calc(var(--text-mb) * 2) 0;

    &::after {
      background-color: currentColor;
      content: "";
      display: flex;
      height: 1px;
      margin: 0 0.5rem;
      opacity: 0.3;
      translate: 0 0.33em;
      width: calc(100% - 1rem);
    }
  }

  & p {
    margin: 0 0 calc(var(--text-mb) * 2) 0;
    opacity: var(--text-opacity);
  }
}
