.link {
  --local-font-size: var(--font-size-sm);
  --local-icon-colour: var(--white);

  align-items: center;
  background-color: var(--hwb-grape-4);
  border-radius: var(--radius);
  color: var(--local-icon-colour);
  cursor: pointer;
  display: flex;
  gap: calc(var(--padding-btn) / 2);
  justify-content: space-between;
  padding: calc(var(--padding-btn) / 2) var(--padding-btn);
  transition: background-color var(--timing) ease;

  &:hover {
    background-color: var(--accent);
    color: var(--white);
  }

  & span {
    color: var(--white);
    font-size: var(--local-font-size);

    @media (--ipad) {
      --local-font-size: var(--font-size-xl);
    }
  }

  & svg {
    transition: fill var(--timing) ease;
  }
}
