.button {
  --icon-colour: var(--white);
  --local-bg-colour: var(--hwb-grape-4);
  --local-font-size: var(--font-size-sm);
  --local-font-colour: var(--white);
  --local-svg-width: 1em;

  align-items: center;
  background-color: var(--local-bg-colour);
  border-radius: var(--radius);
  border-color: transparent;
  color: var(--icon-colour);
  cursor: pointer;
  display: flex;
  gap: var(--padding-btn);
  padding: 1em 1.5em;
  transition: background-color var(--timing) ease;
  justify-content: space-between;

  &[disabled] {
    opacity: 0.6;
    filter: grayscale(50%);
    cursor: not-allowed;
  }

  &:hover {
    background-color: var(--accent);
    color: var(--white);
  }

  & span {
    color: var(--local-font-colour);
    font-size: var(--local-font-size);
  }

  & svg {
    transition: fill var(--timing) ease;
    height: auto;
    width: var(--local-svg-width);
  }
}
