.panel {
  --local-direction: initial;
  --local-bg-colour: var(--hwb-grey-1);

  background-color: var(--local-bg-colour);
  direction: var(--local-direction);
  scroll-snap-stop: always;
  scroll-snap-align: center;

  &:nth-of-type(odd) {
    --local-bg-colour: hwb(38deg 90% 2%);
  }
}

.image {
  --local-grid-column: 1 / 13;

  grid-column: var(--local-grid-column);
  align-self: center;

  @media (width > 600px) {
    --local-grid-column: 4 / 13;

    margin: 3rem 0 3rem 0;
    grid-row: 1;
  }

  & img {
    border-radius: var(--radius-lg);
    height: auto;
    max-width: 100%;
  }
}
