.panel {
  --local-direction: initial;
  --local-bg-colour: var(--hwb-grey-1);

  display: grid;
  background-color: var(--local-bg-colour);
  grid-template-columns: repeat(12, 1fr);
  direction: var(--local-direction);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  direction: initial;
  grid-column: 3/7;
  padding: calc(var(--padding) * 2);
  gap: var(--padding);
  justify-content: center;

  & h3 {
    margin: 0;
  }
  & p {
    margin: 0;
  }
}

.image {
  aspect-ratio: auto;
  height: auto;
  max-width: 100%;
  grid-column: 7/13;
}
