.breadcrumbs {
  --local-bg: var(--hwb-grey-2);

  place-content: center;
  font-size: var(--size-s-1);
  overflow: hidden;

  & .iconhome {
    margin: 0 .3rem 0 0;
  }

  & ol {
    display: flex;
    padding: 0;
    margin: 0;
  }

  & li {
    &::marker {
      content: "/";
      color: var(--hwb-grape-4);
    }

    &:first-child::marker {
      content: "";
    }
  }

  & a {
    padding: 0 calc(var(--padding) / 3);
    display: inline-flex;
    color: var(--hwb-grape-4);
    text-transform: capitalize;
    
    &:hover {
      color: var(--accent);
    }
  }
}
